In [393]:
import pandas as pd
import numpy as np
import os
import datetime
from scipy import stats
import missingno as msno

import matplotlib.pyplot as plt
import seaborn as sns

In [394]:
filepath = 'data/standvirtual_cars_updated_200310.csv'
df = pd.read_csv(filepath)
df.head()

,title,fuel_type,mileage,power,origin,city,region,reg_month,reg_year,garanty,...,Inspecção válida até,Capota Eléctrica,IVA dedutível,Valor sem IUC,Capota,Autonomia Máxima,Salvado,Clássico,Valor sem ISV,Garantia de Stand (incl. no preço p/mutuo acordo)
0,Mercedes-Benz E 220 Coupe AMG Line,Diesel,32448.0,194.0,NaN,Marinha Grande,Leiria,Maio,2018.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fiat Bravo II 1.6 D Multijet,Diesel,168000.0,105.0,NaN,Alvalade,Lisboa,Agosto,2008.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BMW M2 Performance,Gasolina,49300.0,370.0,Nacional,Cascais e Estoril,Lisboa,Abril,2016.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BMW i8 E-Drive 365 C.V J 20,Híbrido (Gasolina),58900.0,365.0,NaN,"Sintra (Santa Maria e São Miguel, São Martinho...",Lisboa,Fevereiro,2016.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BMW 118 d,Diesel,142000.0,143.0,NaN,Sacavém e Prior Velho,Lisboa,Julho,2009.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [395]:
repeated_cols = ['Combustível',
                 'Mês de Registo',
                 'Ano de Registo',
                 'Quilómetros',
                 'Potência',
                 'Valor Fixo',
                 'Origem']

df = df.drop(columns=repeated_cols)

print(df.columns)
print(len(df.columns))

Index(['title', 'fuel_type', 'mileage', 'power', 'origin', 'city', 'region',
       'reg_month', 'reg_year', 'garanty', 'price_neg', 'price', 'link',
       'Anunciante', 'Marca', 'Modelo', 'Série', 'Versão', 'Cilindrada',
       'Segmento', 'Cor', 'Metalizado', 'Tipo de Caixa', 'Número de Mudanças',
       'Nº de portas', 'Lotação', 'Classe do veículo', 'Tracção',
       'Emissões CO2', 'Filtro de Particulas', 'Livro de Revisões completo',
       'Não fumador', '2º Chave', 'Consumo Urbano', 'Consumo Extra Urbano',
       'Consumo Combinado', 'Tecto de Abrir', 'Jantes de Liga Leve',
       'Medida Jantes de Liga Leve', 'Estofos', 'Numero de Airbags',
       'Ar Condicionado', 'Condição', 'VIN', 'Aceita retoma',
       'Garantia mecanica fabricante até', 'ou até', 'Registo(s)', 'Matrícula',
       'Possibilidade de financiamento', 'Garantia de Stand (incl. no preço)',
       'IUC', 'Inspecção válida até', 'Capota Eléctrica', 'IVA dedutível',
       'Valor sem IUC', 'Capota', 'Autonomia Máxima', 'Salvado', 'Clássico',
       'Valor sem ISV', 'Garantia de Stand (incl. no preço p/mutuo acordo)'],
      dtype='object')
62

In [396]:
cols_labels = [
    'title',
    'fuel_type',
    'mileage',
    'power',
    'origin',
    'city',
    'region',
    'reg_month',
    'reg_year',
    'garanty',
    'price_neg',
    'price',
    'link',
    'advertiser',
    'brand',
    'model',
    'series',
    'version',
    'cylinder',
    'segment',
    'color',
    'metallic',
    'gear_type',
    'gears_n',
    'doors_n',
    'capacity',
    'class',
    'traction',
    'co2_emissions',
    'particle_filter',
    'revisions_book_complete',
    'non_smoker',
    '2nd_key',
    'consumption_urban',
    'consumption_extra_urban',
    'consumption_combined',
    'open_ceiling',
    'alloy_wheels',
    'alloy_wheels_size',
    'upholstery',
    'airbags_n',
    'air_conditioning',
    'vehicle_condition',
    'vin',
    'accepts_recovery',
    'mechancal_guaranty_until_date',
    'mechancal_guaranty_until_mileage',
    'registrations_n',
    'registration_id',
    'finance_possible',
    'stand_guaranty_in_price',
    'iuc',
    'inspection_validity_date',
    'electric_canopy',
    'vat_deductable',
    'price_without_iuc',
    'canopy',
    'max_range',
    'saved',
    'classic',
    'price_without_isv',
    'stand_guaranty_not_in_price'
]

df.columns = cols_labels

In [397]:
print(df.columns)

Index(['title', 'fuel_type', 'mileage', 'power', 'origin', 'city', 'region',
       'reg_month', 'reg_year', 'garanty', 'price_neg', 'price', 'link',
       'advertiser', 'brand', 'model', 'series', 'version', 'cylinder',
       'segment', 'color', 'metallic', 'gear_type', 'gears_n', 'doors_n',
       'capacity', 'class', 'traction', 'co2_emissions', 'particle_filter',
       'revisions_book_complete', 'non_smoker', '2nd_key', 'consumption_urban',
       'consumption_extra_urban', 'consumption_combined', 'open_ceiling',
       'alloy_wheels', 'alloy_wheels_size', 'upholstery', 'airbags_n',
       'air_conditioning', 'vehicle_condition', 'vin', 'accepts_recovery',
       'mechancal_guaranty_until_date', 'mechancal_guaranty_until_mileage',
       'registrations_n', 'registration_id', 'finance_possible',
       'stand_guaranty_in_price', 'iuc', 'inspection_validity_date',
       'electric_canopy', 'vat_deductable', 'price_without_iuc', 'canopy',
       'max_range', 'saved', 'classic', 'price_without_isv',
       'stand_guaranty_not_in_price'],
      dtype='object')

In [398]:
def plot_categorical(df, label=''):
    data_u, data_c = np.unique(df.dropna(), return_counts=True)
    six = np.argsort(data_c)

    ysize = len(data_u)/2
    xsize = 5

    fig, ax = plt.subplots(1, figsize=[xsize,ysize])
    plt.barh(data_u[six], data_c[six])
    plt.title(label)
    plt.xlabel('Count')
    plt.show()
    
def plot_continuous(df, label=''):
    bin_width = 2*stats.iqr(df)*len(df)**(-1/3) # Freedman-Diaconis rule    
    bin_low = np.percentile(df,1)
    bin_high = np.percentile(df,99)
    bins = np.arange(bin_low, bin_high, bin_width)
    
    fig, ax = plt.subplots(1, figsize=[5,5])
    plt.hist(df, bins=bins)
    plt.xlabel(label)
    plt.ylabel('Count')
    plt.show()

## Price negotiable clean

In [399]:
df.loc[df['price_neg'] == 'Valor Fixo', 'price_neg'] = 0
df.loc[df['price_neg'] == 'Negociável', 'price_neg'] = 1
df.loc[df['price_neg'] == 'Negociável                                                , Valor negociável', 'price_neg'] = 1
df.loc[df['price_neg'] == 'Valor Fixo                                                 , Valor negociável'] = np.nan

df['price_neg'].unique()

array([0, 1, nan], dtype=object)

## Advertiser clean

In [400]:
df.loc[df['advertiser'] == 'Particular', 'advertiser'] = 'individial'
df.loc[df['advertiser'] == 'Profissional', 'advertiser'] = 'professional'
df['advertiser'].unique()

array(['individial', 'professional', nan], dtype=object)

## Brands

In [401]:
df.loc[df['brand'] == 'Outra não listada', 'brand'] = 'other'
df['brand'].unique()

array(['Mercedes-Benz', 'Fiat', 'BMW', 'VW', 'Peugeot', 'Volvo',
       'Citroën', 'Renault', 'Land Rover', 'Ford', 'Audi', 'Toyota',
       'MINI', 'Nissan', 'Mazda', 'Opel', 'Porsche', 'SEAT', nan, 'Skoda',
       'Lexus', 'Alfa Romeo', 'Smart', 'Tesla', 'Mitsubishi', 'Suzuki',
       'Lancia', 'Hyundai', 'Dacia', 'Abarth', 'Chatenet', 'Jaguar',
       'Maserati', 'Honda', 'Kia', 'DS', 'Chevrolet', 'Saab', 'Jeep',
       'Isuzu', 'Aixam', 'Chrysler', 'MG', 'UMM', 'Ferrari', 'Lotus',
       'other', 'Subaru', 'Daihatsu', 'Bentley', 'Pontiac',
       'Austin Morris', 'Rover', 'Ligier', 'Datsun', 'Microcar',
       'SsangYong', 'Dodge', 'Hummer', 'GMC', 'Cadillac', 'Lamborghini',
       'Daewoo', 'McLaren', 'Infiniti', 'Aston Martin', 'Triumph',
       'Rolls Royce'], dtype=object)

## Cylinder capacity

In [402]:
df['cylinder'] = pd.to_numeric(df['cylinder'].str.replace('cm3','').str.strip().str.replace(' ',''))

## Segment

In [403]:
df.loc[df['segment'] == 'Coupé', 'segment'] = 'coupe'
df.loc[df['segment'] == 'Utilitário', 'segment'] = 'utilitary'
df.loc[df['segment'] == 'Carrinha', 'segment'] = 'van'
df.loc[df['segment'] == 'Monovolume', 'segment'] = 'mini_van'
df.loc[df['segment'] == 'Pequeno citadino', 'segment'] = 'city_small'
df.loc[df['segment'] == 'Citadino', 'segment'] = 'city'
df.loc[df['segment'] == 'SUV / TT', 'segment'] = 'suv'

df['segment'] = df['segment'].str.lower()
df['segment'].unique()

array(['coupe', 'utilitary', 'van', 'sedan', 'cabrio', 'mini_van',
       'city_small', 'city', 'suv', nan], dtype=object)

## Color

In [404]:
df.loc[df['color'] == 'Branco', 'color'] = 'white'
df.loc[df['color'] == 'Cinzento', 'color'] = 'gray'
df.loc[df['color'] == 'Azul', 'color'] = 'blue'
df.loc[df['color'] == 'Preto', 'color'] = 'black'
df.loc[df['color'] == 'Prateado', 'color'] = 'silver'
df.loc[df['color'] == 'Castanho', 'color'] = 'brown'
df.loc[df['color'] == 'Vermelho', 'color'] = 'red'
df.loc[df['color'] == 'Laranja', 'color'] = 'orange'
df.loc[df['color'] == 'Verde', 'color'] = 'green'
df.loc[df['color'] == 'Outra', 'color'] = 'other'
df.loc[df['color'] == 'Bege', 'color'] = 'beige'
df.loc[df['color'] == 'Roxo', 'color'] = 'purple'
df.loc[df['color'] == 'Dourado', 'color'] = 'golden'
df.loc[df['color'] == 'Amarelo', 'color'] = 'yellow'

df['color'].unique()

array(['white', 'gray', 'blue', 'black', 'silver', 'brown', 'red',
       'orange', 'green', nan, 'other', 'beige', 'purple', 'golden',
       'yellow'], dtype=object)

## Metallic

In [405]:
df.loc[df['metallic'] == 'Sim', 'metallic'] = 1

## Gear type

In [406]:
df.loc[df['gear_type'] == 'Automática', 'gear_type'] = 'automatic'
df.loc[df['gear_type'] == 'Manual', 'gear_type'] = 'manual'
df.loc[df['gear_type'] == 'Semi-automática', 'gear_type'] = 'semiauto'
df['gear_type'].unique()

array(['automatic', 'manual', nan, 'semiauto'], dtype=object)

## Revisions book complete

In [407]:
df.loc[df['revisions_book_complete'] == 'Sim', 'revisions_book_complete'] = 1
df['revisions_book_complete'].unique()

array([1, nan], dtype=object)

## Non smoker

In [408]:
df.loc[df['non_smoker'] == 'Sim', 'non_smoker'] = 1
df['non_smoker'].unique()

array([1, nan], dtype=object)

## 2nd key

In [409]:
df.loc[df['2nd_key'] == 'Sim', '2nd_key'] = 1
df['2nd_key'].unique()

array([1, nan], dtype=object)

## Consumption

In [410]:
df['consumption_urban'] = pd.to_numeric(df['consumption_urban'].str.split(' ').str[0].str.replace(',','.'))
df['consumption_extra_urban'] = pd.to_numeric(df['consumption_extra_urban'].str.split(' ').str[0].str.replace(',','.'))
df['consumption_combined'] = pd.to_numeric(df['consumption_combined'].str.split(' ').str[0].str.replace(',','.'))

## Open ceiling

In [411]:
df.loc[df['open_ceiling'] == 'Tecto de Abrir Panorâmico', 'open_ceiling'] = 'panoramic'
df.loc[df['open_ceiling'] == 'Tecto de Abrir Elétrico', 'open_ceiling'] = 'electric'
df.loc[df['open_ceiling'] == 'Tecto de Abrir Manual', 'open_ceiling'] = 'manual'
df['open_ceiling'].unique()

array(['panoramic', nan, 'electric', 'manual'], dtype=object)

## Alloy wheels

In [412]:
df.loc[df['alloy_wheels'] == 'Sim', 'alloy_wheels'] = 1
df.loc[df['alloy_wheels'] == '17', 'alloy_wheels'] = 1
df['alloy_wheels'].unique()

array([1, nan], dtype=object)

## Alloy wheels size

In [413]:
df['alloy_wheels_size'] = pd.to_numeric(df['alloy_wheels_size'].str.split(' ').str[0].str.replace(',','.'))

## Upholstery

In [414]:
df.loc[df['upholstery'] == 'Estofos de Tecido', 'upholstery'] = 'fabric'
df.loc[df['upholstery'] == 'Estofos de Pele', 'upholstery'] = 'leather'
df['upholstery'].unique()

array(['fabric', 'leather', nan], dtype=object)

## Vehicle condition

In [415]:
df.loc[df['vehicle_condition'] == 'Usados', 'vehicle_condition'] = 'used'
df.loc[df['vehicle_condition'] == 'Novos', 'vehicle_condition'] = 'new'
df['vehicle_condition'].unique()

array(['used', nan, 'new'], dtype=object)

## Accepts recovery

In [416]:
df.loc[df['accepts_recovery'] == 'Sim', 'accepts_recovery'] = 1
df['accepts_recovery'].unique()

array([nan, 1], dtype=object)

## Mechancal guaranty until date

In [417]:
df['mechancal_guaranty_until_date'] = pd.to_numeric(df['mechancal_guaranty_until_date'].str.split('/').str[::-1].str.join(''))

## mechancal_guaranty_until_mileage

In [418]:
df['mechancal_guaranty_until_mileage'] = pd.to_numeric(df['mechancal_guaranty_until_mileage'].str.replace(' km','').str.replace(' ',''))

## finance_possible

In [419]:
df.loc[df['finance_possible'] == 'Sim', 'finance_possible'] = 1
df['finance_possible'].unique()

array([nan, 1], dtype=object)

## stand_guaranty_in_price

In [420]:
df['stand_guaranty_in_price'] = pd.to_numeric(df['stand_guaranty_in_price'].str.replace(' Meses','').str.replace(' ',''))

## iuc

In [421]:
df['iuc'] = pd.to_numeric(df['iuc'].str.split(' ').str[0].str.replace(',','.'))

## inspection_validity_date

In [422]:
df['inspection_validity_date'] = pd.to_numeric(df['inspection_validity_date'].str.split('/').str[::-1].str.join(''))

## electric_canopy

In [423]:
df.loc[df['electric_canopy'] == 'Sim', 'electric_canopy'] = 1
df['electric_canopy'].unique()

array([nan, 1], dtype=object)

## vat_deductable

In [424]:
df.loc[df['vat_deductable'] == 'Sim', 'vat_deductable'] = 1
df['vat_deductable'].unique()

array([nan, 1], dtype=object)

## price_without_iuc

In [425]:
df.loc[df['price_without_iuc'] == 'Sim', 'price_without_iuc'] = 1
df['price_without_iuc'].unique()

array([nan, 1], dtype=object)

## canopy

In [426]:
df.loc[df['canopy'] == 'Capota de Lona', 'canopy'] = 'canvas'
df.loc[df['canopy'] == 'Capota Rígida', 'canopy'] = 'rigid'
df.loc[df['canopy'] == 'Capota Hardtop', 'canopy'] = 'hardtop'
df['canopy'].unique()

array([nan, 'canvas', 'rigid', 'hardtop'], dtype=object)

## max_range

In [427]:
df['max_range'] = pd.to_numeric(df['max_range'].str.replace(' km','').str.replace(' ','').str.replace(',','.'))

## saved

In [428]:
df.loc[df['saved'] == 'Sim', 'saved'] = 1
df['saved'].unique()

array([nan, 1], dtype=object)

## Classic

In [429]:
df.loc[((df['classic'] == 'Sim') | (df['classic'] == 'true')), 'classic'] = 1
df['classic'].unique()

array([nan, 1], dtype=object)

## price_without_isv

In [430]:
df.loc[df['price_without_isv'] == 'Sim', 'price_without_isv'] = 1
df['price_without_isv'].unique()

array([nan, 1], dtype=object)

## stand_guaranty_not_in_price

In [431]:
df['stand_guaranty_not_in_price'] = pd.to_numeric(df['stand_guaranty_not_in_price'].str.replace(' Meses',''))

## A/C

In [432]:
df.loc[df['air_conditioning'] == 'AC Automático', 'air_conditioning'] = 'automatic'
df.loc[df['air_conditioning'] == 'AC Manual', 'air_conditioning'] = 'manual'
df.loc[df['air_conditioning'] == 'AC Independente', 'air_conditioning'] = 'independent'
df['air_conditioning'].unique()

array(['automatic', 'manual', 'independent', nan], dtype=object)

## Class

In [433]:
df['class'] = pd.to_numeric(df['class'].str.split(' ').str[-1])

## Traction

In [434]:
df.loc[df['traction'] == 'Tracção traseira', 'traction'] = 'back'
df.loc[df['traction'] == 'Tracção dianteira', 'traction'] = 'front'
df.loc[df['traction'] == 'Integral', 'traction'] = 'both'

df['traction'].unique()

array(['back', 'front', 'both', nan], dtype=object)

## CO2 emissions

In [435]:
df['co2_emissions'] = pd.to_numeric(df['co2_emissions'].str.replace(' g/km','').str.replace(',','.'))

## Particle filter

In [436]:
df.loc[df['particle_filter'] == 'Sim', 'particle_filter'] = 1

## Save

In [437]:
savepath = filepath.split('.csv')[0]+'_clean.csv'
df.to_csv(savepath, index=False)